<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.leocadio.joao.sistemadeferramentas">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Para preencher automaticamente o campo de texto de email no formulário de login com os emails do usuários -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MenuPrincipal"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".activities.Login" android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.SignUp" android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".activities.CreateFerramenta" />
        <activity android:name=".activities.ViewFerramenta"></activity>
    </application>

</manifest>